:root {
  --yellow: #ffe600;
  --black: #000;
  --dark-gray: #404040;
  --light-gray: #ebebeb;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--dark-gray);
    line-height: 1.6;
}

img {
    max-width: 100%;
}


/* ==================
    Typography
===================== */

h1, h2, strong {
    font-weight: 700;
}

.accent-color {
    color: var(--yellow);
}


.hero-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.125rem;
}

.section-title {
    font-size: 1.125rem;
    color: var(--black);
    margin-top: 1.25rem;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--yellow);
}

.section-title-center::after {
    margin-left: auto;
    margin-right: auto;
}

.section-title:first-child {
    margin-top: 0;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 0.5em;
    justify-self: center;
}

.page-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    margin-top: -40px;
    margin-left: 15px;
    background: var(--yellow);
}

.page-subtitle {
    font-size: 1.125rem;
    margin: .5em 0 3em;
}




/* buttons */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
}

.btn-hero {
    background: var(--yellow);
    color: #000;
    justify-self: start;
}


/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    column-gap: 2em;
}

@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
    }
}

/* navigation */

.header {
    background: var(--black);
}

.header-home {
    background: transparent;
    position: absolute;
    width: 100%;
}



.header-content {
    display: flex;
    grid-column: 2 / -2;
}

.logo-link {
    background: var(--yellow);
    padding-top: 2em;

}

.nav {
    position: fixed;
    width: 100%;
    background: var(--black);
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    transition: transform ease-in-out 0.5s;

}

.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 3rem;
    font-weight: 700;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--yellow);
}

.close-nav {
    border: 0;
    background: 0;
    color: var(--yellow);
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    color: var(--white);
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0.5em;
    margin-left: auto;
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .header-home .nav {
        background: transparent;
    }

    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-link {
        font-size: 0.875rem;
        margin: 0 1em;
    }

    
}
/* footer */

.footer {
    background: var(--light-gray);
    padding: 4em 0;
    text-align: center;
    grid-template-areas: 
        ". social ."
        ". main .";
}

.footer-main {
   grid-area: main;
}

.footer-logo,
.footer-text,
.footer-fineprint {
    color: var(--dark-gray);
    opacity: 37%;
}

.footer-fineprint {
    font-size: 0.75rem;
    margin-top: 4em;
}

.s-media {
    display: flex;
    justify-content: center;
    margin: 0 0 2em;
    grid-area: social;
}

.s-media-link i {
    color: var(--black);
    font-size: 1.75rem;
    margin: 0 0.25em;
}


@media (min-width: 600px) {
    .footer {
        text-align: left;
        grid-template-areas: 
            ". main main social ."
        ;
        
    }

    .s-media {
        justify-content: flex-end;
        align-self: baseline;
    }


    
}

/* ==================
    hero area
===================== */

.hero {
    background-image: url("/img/hero-bg.jpg");
    background-size: cover;
    background-position: bottom;
    padding: 8em 0 4em;
    color: var(--white);
}

.hero > * {
    grid-column: 2 / -2;
}

@media (min-width: 400px) {
    .hero > * {
        margin-right: 20%;
    }
}

@media (min-width: 600px) {
    .hero {
        padding: 10em 0 6em;
    }
    .hero > * {
        grid-column: 2 / span 2;
        
    }
}

/* ==================
    info section
===================== */

.info {
    padding: 4em 0;
    text-align: center;
}

.col {
    grid-column: 2 / -2;
}

@media (min-width: 600px) {
    .col {
        grid-column: span 1;
    
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }
}

/* ==================
    Template Page
===================== */

.main-template {
    padding: 4em 0;
}

.main-template > * {
    grid-column: 2 / -2;
}

.main-img {
    margin: 0 auto 1.5em;
    box-shadow: 5px 5px 0 var(--black), 10px 10px 0 var(--yellow);
    
}


.page-title,
.page-subtitle {
    text-align: center;
    font-weight: 700;
}


@media (min-width: 600px) {
    .main-img {
        grid-column: 2;
    }

    .main-text {
        grid-column: 3 / span 2;
    }

}


/* form */

.page-form {
    grid-column: 2 / -2;
    display: grid;
}

