:root {
  --yellow: #ffe600;
  --black: #000;
  --dark-gray: #404040;
  --light-gray: #ebebeb;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--dark-gray);
    line-height: 1.6;
}


/* ==================
    Typography
===================== */

h1, h2, strong {
    font-weight: 700;
}

.accent-color {
    color: var(--yellow);
}


.hero-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}

.section-title {
    font-size: 1.125rem;
    color: var(--black);
    margin-top: 1.25rem;
}

/* buttons */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
}

.btn-hero {
    background: var(--yellow);
    color: #000;
    justify-self: start;
}


/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
}

/* footer */

.footer {
    background: var(--light-gray);
    padding: 4em 0;
    text-align: center;
}

.footer-main,
.s-media {
    grid-column: 2 / -2;
}

.footer-logo,
.footer-text,
.footer-fineprint {
    color: var(--dark-gray);
    opacity: 37%;
}

.footer-fineprint {
    font-size: 0.75rem;
    margin-top: 4em;
}

.s-media {
    order: -1;
    display: flex;
    justify-content: center;
    margin: 0 0 2em;
}

.s-media-link i {
    color: var(--black);
    font-size: 1.75rem;
    margin: 0 0.25em;
}


/* ==================
    hero area
===================== */

.hero {
    background-image: url("/img/hero-bg.jpg");
    padding: 4em 0;
    color: var(--white);
}

.hero > * {
    grid-column: 2 / -2;
}


/* ==================
    info section
===================== */

.info {
    padding: 4em 0;
    text-align: center;
}

.col {
    grid-column: 2 / -2;
}


/* ==================
    info section
===================== */



