:root {
    --yellow: #FFE600;
    --black: #000;
    --dark-gray: #404040;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ********************************
        Layout          
*********************************** */


/* ********************************
        Typography          
*********************************** */

h1 {
    font-size: 1.5rem;
}

.subtitle,
.btn-hero,
.section-title,
.nav-item {
    font-size: 1.125rem;
}

.hero-title,
.subtitle,
.nav-link {
    /* color: var(--white); */
}

.hero-title span {
    color: var(--yellow);
}

.footer-text,
.footer-fineprint {
    color: var(--dark-gray);
}

strong {
    font-weight: 700;
}