:root {
    --yellow: #FFE600;
    --black: #000;
    --dark-gray: #404040;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ********************************
        Layout          
*********************************** */


/* ********************************
        Typography          
*********************************** */

h1 {
    font-size: 1.5rem;
}

.subtitle,
.btn-hero,
.section-title {
    font-size: 1.125rem;
}

.hero-title,
.subtitle,
.nav-link {
    color: var(--white);
}

.nav-item {
    font-size: 0.875;
    font-weight: 700;
    text-transform: lowercase;
}

.hero-title span {
    color: var(--yellow);
}

.footer-text,
.footer-fineprint {
    color: var(--dark-gray);
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
}


/* ********************************
        Buttons        
*********************************** */

.btn-hero {
    background: var(--yellow);
    font-weight: 700;
    text-transform: lowercase;
}

/* ********************************
        Header        
*********************************** */

header {
    background: var(--black);
}

.logo-link {
    background: var(--yellow);
}

/* ********************************
        Hero Section         
*********************************** */

.hero {
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}